body {
    background: #424242;
    font-family: sans-serif;
    color: #FFF;
    margin: 0;
}

.header {
    background: #5E6073;
    background: linear-gradient(160deg, rgba(94,96,115,1) 0%, rgba(137,163,178,1) 35%, rgba(178,211,190,1) 65%, rgba(242,244,209,1) 100%);
    height: fit-content;
    margin: 0;
    padding: 1em;
    font-size: 2.25em;
    text-shadow: -0.94px 0.342px 3px rgba(94,96,115,1);
}

.header h2 {
    margin: 0;
}

.content {
    padding: 1em 4em;
    font-size: 14pt;
}

code, .content.code, pre {
    font-family: Consolas, monospace;
}

code.inline {
    background: #515151;
    border: 1px solid #616161;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .05rem .3rem .05rem;
    border-radius: .2rem;
}

.emphasis {
    color: #89A3B2;
}

a {
    color: #B2D3BE;
    text-decoration: none;
}

a:hover {
    background-color: #B2D3BE;
    background-image: linear-gradient(160deg, rgba(137,163,178,1) 0%, rgba(242,244,209,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #89A3B2;
}

.button {
    background-color: #89A3B2;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

table.raw-data {
    font-family: monospace;
    font-size: 9pt;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

table.raw-data td {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

table.raw-data th {
    font-weight: normal;
    background-color: #555555;
}

table.raw-data th:nth-child(odd) {
    background-color: #5e5e5e;
}

table.raw-data tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.item-list-by-version h3, .item-list-by-version h4 {
    margin-bottom: 0.5em;
    margin-top: 0;
}

.item-list-by-version span.date {
    font-weight: normal;
}

.item-list-by-version ul {
    margin-top: 0;
    list-style-type: "\2023\00A0";
    padding-left: 1.5em;
}

.item-list-by-version .version-section {
    border: 1px solid rgba(137,163,178,1);
    border-radius: 0.33em;
    padding: 0.5em;
    display: table;
    margin-bottom: 1em;
}

.item-list-by-version .version-section ul {
    column-count: 2;
}

.item-list-by-version .version-title {
    font-weight: normal;
}

table.centered th, table.centered td {
    text-align: center;
}

table.sticky-header th {
    position: sticky;
    top: 0;
}
